{{#each comment as |comment|}}
  <h4>{{comment.title}} <span class="glyphicon glyphicon-pencil"></span></h4>
  <p>By {{comment.author}}, {{comment.date}}</p>
  <p>{{comment.body}}</p>
  <hr>
{{/each}}
