body {
  margin-top: 50px;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

.categories {
  margin-bottom: 15px;
}

.glyphicon {
  display: none;
  font-size: 0.75em;
}

h3:hover .glyphicon,
h4:hover .glyphicon {
  display: inline-block;
  cursor: pointer;
}
