<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav nav-pills">
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    </ul>

    <ul class="nav navbar-nav nav-pills pull-right">
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
      <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
    </ul>

    <ul class="nav navbar-nav nav-pills pull-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Posts <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li>{{#link-to 'new-post'}}New Post{{/link-to}}</li>
          <li>{{#link-to 'all-posts'}}View all{{/link-to}}</li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  {{outlet}}
</div>
